<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cooking - Restaurants Category Bootstrap Responsive Website Template - About Us : W3Layouts</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="../../public/assets/css/style-starter.css">
</head>

<body>
    <!-- header -->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="../../public/index.php">
                    Cooking<i class="fas fa-bread-slice ms-1"></i>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../../public/index.php">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="about.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="classes.php">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a id="addRecipeBtn" class="nav-link">Login</a>
                        </li>
                    </ul>
                      <!-- Modale pour le login -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <!-- Formulaire login inclus ici -->
        <div class="modal-container">
            <div class="form-box effect7">
                <div class="form-header">Welcome!</div>
                <!-- Formulaire de connexion -->
                <!-- Formulaire de connexion -->
<form id="login-form" action="../app/views/classes.php" method="POST">
    <input type="hidden" name="action" value="login">
    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
    <input type="password" name="password" placeholder="Mot de passe" required>
    <button type="submit" class="button">Se connecter</button>
    <span class="signup-link">Pas encore de compte ?&nbsp;
        <a href="javascript:void(0);" class="link" id="show-signup">S'inscrire</a>
    </span>
</form>

<!-- Formulaire d'inscription (caché par défaut) -->
<form id="signup-form" action="index.php" method="POST" style="display: none;">
    <input type="hidden" name="action" value="signup">
    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Mot de passe" required>
    <button type="submit" class="button">S'inscrire</button>
    <span class="signup-link">Vous avez déjà un compte ?&nbsp;
        <a href="javascript:void(0);" class="link" id="show-login">Se connecter</a>
    </span>
</form>

            </div>
        </div>
        <script src="../../public/assets/js/login.js"></script> <!-- Chemin vers votre JS -->
    </div>
</div>

      
    <script>
        var modal = document.getElementById("loginModal");
        var btn = document.getElementById("addRecipeBtn");
        var span = document.getElementsByClassName("close")[0];
    
        // Afficher la modale au clic du bouton
        btn.onclick = function() {
            modal.style.display = "block";
        }
    
        // Fermer la modale au clic du bouton "close"
        span.onclick = function() {
            modal.style.display = "none";
        }
    
        // Fermer la modale si l'utilisateur clique en dehors de la modale
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
                    <form action="#search" method="GET" class="d-flex search-header ms-lg-2">
                        <input class="form-control" type="search" placeholder="Enter Keyword..." aria-label="Search"
                            required>
                        <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->

    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">About Us</h4>
                <ul class="breadcrumbs-custom-path">
                    
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- about section -->
    <section class="w3l-aboutblock1 py-5" id="about">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center">
                <div class="col-lg-6 about-right-faq">
                    <h5 class="sub-title mb-2">About Us</h5>
                    <h3 class="title-style text-start">Hello, Welcome to Cooking!</h3>
                    <p class="mt-4"> We are passionate about helping you explore the world of culinary arts, whether you're a beginner or an experienced home chef. Our mission is to make cooking simple, enjoyable, and accessible to everyone. Through our collection of diverse recipes, we offer guidance to create delicious meals from the comfort of your own kitchen. With step-by-step instructions, nutritional information, and a focus on fresh, wholesome ingredients, Cooking is here to inspire your creativity and elevate your home-cooking experience.</p>
                    <a class="btn btn-style mt-md-5 mt-4" href="#about"> Read More </a>
                </div>
                <div class="col-lg-6 left-wthree-img mt-lg-0 mt-5">
                    <img src="../../public/assets/images/about3.jpg" alt="" class="img-fluid radius-image">
                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->

    <!-- about 3grids section -->
    <section class="home-grids-section pb-5 pt-4">
        <div class="container pb-lg-5 pb-md-4 pb-2">
            <div class="row mb-md-5 mb-4">
                <div class="col-md-10 col-lg-7 mx-auto text-center px-xl-4">
                    <h5 class="sub-title text-center">Cooking Steps</h5>
                    <h3 class="title-style text-center">Easy Way To Make You Expert at Cooking</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="home-grids-block">
                        <div class="grids-icon mb-3">
                            <i class="fas fa-headset"></i>
                        </div>
                        <div class="grids-content">
                            <h5 class="mb-3"><a href="about.html">Find Course</a></h5>
                           
                            <a href="classes.php" class="btn btn-style btn-style-primary mt-3">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="home-grids-block">
                        <div class="grids-icon mb-md-4 mb-3">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="grids-content">
                            <h5 class="mb-3"><a href="about.html">Learn Online</a></h5>
                          
                            <a href="classes.php" class="btn btn-style btn-style-primary mt-3">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="home-grids-block">
                        <div class="grids-icon mb-md-4 mb-3">
                            <i class="fas fa-wrench"></i>
                        </div>
                        <div class="grids-content">
                            <h5 class="mb-3"><a href="about.html">Make Your Food</a></h5>
                           
                            <a href="classes.php" class="btn btn-style btn-style-primary mt-3">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about 3grids section -->

  
    <!-- team section -->
    <div class="w3l-team-grids-sec py-5" id="team">
        <div class="container pb-lg-5 pb-md-4 pb-2">
            <h5 class="sub-title text-center">Team of Professionals</h5>
            <h3 class="title-style text-center">Our Chefs</h3>
            <div class="row cards justify-content-center">
                <div class="col-lg-4 col-md-6 mt-5">
                    <a href="#img" class="card">
                        <img src="../../public/assets/images/team1.jpg" class="card__image radius-image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                    <path />
                                </svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">Olive Yew</h3>
                                    <span class="card__status">Masterchef</span>
                                </div>
                            </div>
                            <p class="card__description">
                                Olive Yew est une experte en cuisine méditerranéenne. Avec un héritage familial ancré dans les traditions culinaires, elle mélange des recettes classiques avec une touche moderne.
                            </p>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-4 col-md-6 mt-5">
                    <a href="#img" class="card">
                        <img src="../../public/assets/images/team2.jpg" class="card__image radius-image" alt="Aida Joe" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                    <path />
                                </svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">Aida Joe</h3>
                                    <span class="card__status">Masterchef</span>
                                </div>
                            </div>
                            <p class="card__description">
                                Aida Joe est une cheffe primée, connue pour ses plats végétaliens créatifs. Elle met l'accent sur les ingrédients locaux et de saison pour proposer des plats à la fois sains et savoureux.
                            </p>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-4 col-md-6 mt-5">
                    <a href="#img" class="card">
                        <img src="../../public/assets/images/team3.jpg" class="card__image radius-image" alt="Teri Dac" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                    <path />
                                </svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">Teri Dac</h3>
                                    <span class="card__status">Masterchef</span>
                                </div>
                            </div>
                            <p class="card__description">
                                Teri Dac est une spécialiste de la cuisine fusion asiatique. Elle combine des ingrédients traditionnels et des techniques modernes pour créer des plats innovants et audacieux.
                            </p>
                        </div>
                    </a>
                </div>            </div>
        </div>
    </div>
    <!-- //team section -->

    <!-- testimonials section -->
    <section class="w3l-testimonials" id="testimonials">
        <div class="cusrtomer-layout py-5">
            <div class="container py-md-5">
                <div class="text-center">
                    <h5 class="sub-title">Our Happy visitors</h5>
                    <h3 class="title-style text-white">Testimonials</h3>
                    </div>
                    <div class="testimonial-width pt-lg-4">
                        <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
                            <div class="item">
                                <div class="testimonial-content">
                                    <div class="testimonial">
                                        <blockquote>
                                            <i class="fas fa-quote-right"></i>
                                            <q>Cooking has transformed the way I prepare meals for my family. The easy-to-follow recipes and expert advice have made cooking a joyful experience!</q>
                                        </blockquote>
                                        <div class="testi-des">
                                            <div class="peopl align-self">
                                                <h3>John Wilson</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-content">
                                    <div class="testimonial">
                                        <blockquote>
                                            <i class="fas fa-quote-right"></i>
                                            <q>I never thought cooking could be this fun! The diverse range of recipes on the platform has helped me try new dishes every week.</q>
                                        </blockquote>
                                        <div class="testi-des">
                                            <div class="peopl align-self">
                                                <h3>Julia Sakura</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-content">
                                    <div class="testimonial">
                                        <blockquote>
                                            <i class="fas fa-quote-right"></i>
                                            <q>The chefs’ tips and tricks have made a huge difference in my cooking skills. I feel more confident in the kitchen than ever before!</q>
                                        </blockquote>
                                        <div class="testi-des">
                                            <div class="peopl align-self">
                                                <h3>Roy Linderson</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-content">
                                    <div class="testimonial">
                                        <blockquote>
                                            <i class="fas fa-quote-right"></i>
                                            <q>This platform is a game-changer! The community of chefs and users really helps inspire creativity in the kitchen.</q>
                                        </blockquote>
                                        <div class="testi-des">
                                            <div class="peopl align-self">
                                                <h3>Smith Johnson</h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /grids -->
        </div>
    </section>
    <!-- //testimonials section -->

    <!-- footer -->
    <footer class="w3l-footer-16">
        <div class="footer-top-16 py-5">
            <div class="container pt-lg-5 pt-md-4 pt-2 pb-lg-4 pb-2">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h3>About Us</h3>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nerihe re impedit quo
                            minus id qd maxime aceat facere.</p>
                        <div class="columns-2 mt-4">
                            <ul class="social">
                                <li><a href="#facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="#linkedin"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li><a href="#twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="#google"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 column ps-xl-5 mt-sm-0 mt-4">
                        <h3>Quick Link</h3>
                        <ul class="footer-gd-16">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="classes.php">Classes</a></li>
                            <li><a href="#support">Support</a></li>
                            <li><a href="#blog">Blog Posts</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-6 column ps-xl-5 pe-lg-0 mt-lg-0 mt-4">
                        <h3>Contact Info</h3>
                        <ul class="footer-contact-list">
                            <li class=""><i class="fas fa-map-marker-alt"></i><span>10001, 5th Avenue,
                                    #32841 block, USA</span></li>
                            <li class="mt-2"><i class="fas fa-phone-alt"></i><span><a href="tel:+12 23456790">+1223
                                        456 790</a></span></li>
                        </ul>
                        <div class="footer-botm mt-3">
                            <h6>Open Hours:</h6>
                            <p class="mt-2"><span>Mon – Sat</span> : 9Am – 6Pm</p>
                            <p> <span>Sunday</span> : CLOSED</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 column mt-lg-0 mt-4 ps-xl-5">
                        <h3>Subscribe</h3>
                        <form action="#" class="subscribe d-flex" method="post">
                            <input type="email" name="email" placeholder="Email Address" required="">
                            <button class="button-style"><span class="fa fa-paper-plane"
                                    aria-hidden="true"></span></button>
                        </form>
                        <p class="mt-4">Subscribe to our mailing list and get updates to your email inbox.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="../../public/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- owlcarousel -->
    <!-- script for tesimonials carousel slider -->
    <script src="../../public/assets/js/owl.carousel.js"></script>

    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    768: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->

    <!-- theme switch js (light and dark)-->
    <script src="../../public/assets/js/theme-change.js"></script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- bootstrap -->
    <script src="../../public/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->
</body>

</html>